body
{
    height: 100%;
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

html
{
    height: 100%;
}

a
{
    text-decoration: none;
    color:#001e3c;
}

#wrapper
{
    width: 100%;
    margin: 0;
    min-height: calc(100% - 311px);
}

/* Header bar section */

#topheader
{
    width: 100%;
    background-color: #001e3c;  
}

#topcontainer
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 84px;
}

#logo
{
    float: left;
    width: 270px;
    height: 80px;
}

#logo-img
{
    float: left;
}

#logo-img > img
{
    height: 65px;
    margin-top: 10px;
}

#logo-text
{
    float: left;
    width: 195px;
    color: #fff;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 18px;
    
}

#logo-text > h2
{
    margin: 0;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1.5px;
}

#logo-text > p
{
    padding-top: 3px;
    margin: 0;
}

#search
{
    float: left;
    margin-top: 22px;
    margin-left: 25px;
}

#form-group
{
    display: inline-block;
}

.button
{
    position: relative;
    float: right;
    margin-left: -40px;
    background: 0;
    border: 0;
    padding: 4px 3px 2px 1px; 
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

#search-button
{
    height: 25px;
    width: 25px;
}

#form-search
{
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    width: 210px;
    font-size: 16px;
    color: #001e3c;
    border: 2px solid #001e3c;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

#access
{
    float: right;
    color: #f1f1f1;
    height: 84px;
}

#access-list
{
    margin: 0;
}

#access-list a
{
    color: #f1f1f1;
}

#access-list > li
{
    float: left;
    list-style-type: none;
    margin: 15px;
    margin-top: 30px;
}

#access-list > li:last-child
{
    margin-top: 20px;
}

#cart-icon
{
    height: 40px;
    width: 40px;
}

#cart
{
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

#cart > li:first-child
{
    color: #ff8000;
}

/* Navigation section */

.topnav
{
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #999;
}

.menu
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    margin-bottom: -4px;
    padding-left: 0;
    display: inline-block;
}

.menu-club-link
{
    display: block;
    width: 170px;
    padding: 15px;
}

.menu > li
{
    float: left;
    list-style-type: none;
}

.menu > li:hover > .menu-club-link
{
    border-bottom: 2px solid #001e3c;
    padding-bottom: 13px;
}

.menu > li > ul
{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 0.25s linear;
    transition-delay: 0.1s;
}

.menu > li:hover > ul
{
    display: block;
    visibility: visible;
    opacity: 1;
}

.menu > li > ul
{
    list-style-type: none;
}

.nav-img
{
    height: 20px;
    margin-bottom: -2px;
}

.nav-container
{
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bbb;
}

.nav-container-center
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav-choice
{
    float: left;
    text-align: left;
    margin: 30px;
    margin-top: 0;
    color: #001e3c;
}

.nav-choice > ul
{
    list-style-type: none;
    padding: 0;
}

.nav-choice > ul > li > a
{
    font-size: 18px;
    line-height: 200%;
}

/* Main section */

.container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description
{
    font-size: 22px;
    margin-top: 20px;
}

.main-banner
{
    width: 998px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
}

.main-img
{
    width: 1000px;
}

.club-banner
{
    width: 998px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #999;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
}

a.club-link
{
    color:#001e3c;
}

.club-label
{
    float: left;
    height: 300px;
    width: 240px;
}

.club-photo
{
    float: left;
    height: 300px;
    width: 758px;
    overflow: hidden;
}

.club-photo img
{
    width: 758px;
    transition: all 0.5s ease-in-out;
}

.club-photo:hover img
{
    -webkit-transform: scale(105%);
    -ms-transform: scale(105%);
    transform: scale(105%);
}

.club-logo
{
    height: 240px;
    background-color: #001e3c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.club-logo > img
{
    height: 170px;
}

.club-name
{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-name > p
{
    font-size: 24px;
    margin: 0;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Choice menu section */

.choice-menu
{
    float: left;
    background-color: #fff;
    width: 218px;
    height: 738px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
}

.block-title
{
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: #999;
}

.block-content
{
    text-align: left;
}

.category
{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.category > li
{
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 16px;
}

.club-choice
{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    margin-top: 10px;
}

.club-choice > li
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
    margin-top: 2px;
}

.club-choice > li:hover
{
    color: #ff3333;
    cursor: pointer;
}

.category-title
{
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 3px;
}

.category-title:hover
{
    color: #ff3333;
    cursor: pointer;
}

.category-choice
{
    display: none;
    list-style-type: none;
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    font-weight: 400;
}

.category-choice > li
{
    border-top: 1px solid #ccc;
    padding: 2px 0 2px 20px;
}

.category-choice > li:hover
{
    color: #ff3333;
    cursor: pointer;
}

.expand-button
{
    float: left;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 3px;
    width: 15px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f3f3f3;
    text-align: center;
}

.category-filter-clearing, .club-filter-clearing
{
    float: right;
    padding: 2px 2px 0 5px;
    color: #ff3333;
    cursor: pointer;
    display: none;
    font-weight: 700;
}

/* Products in stock section*/

.products-container
{
    float: left;
    width: 780px;
}

.product
{
    float: left;
    width: 238px;
    height: 358px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
}

.product-photo
{
    position: relative;
}

.product-photo > img
{
    width: 238px;
    height: 240px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #999;
}

.add-button-box
{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0px;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.product:hover > .product-photo > .add-button-box
{
    opacity: 1;
}


.add-button
{
    color: #fff;
    background-color: #db0840;
    width: 80%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.add-button:hover
{
    background-color: #f30b47;
    cursor: pointer;
}

.product-club-name
{
    color: #999;
    font-size: 16px;
}

.product-description
{
    font-size: 18px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
}

.product-price
{
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}

/* Shoping cart section */

#empty-cart
{
    width: 1000px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
    background-color: #fff;
    display: none;
}

.empty-cart-img
{
    float: left;
    background-color: #001e3c;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px 30px 0 20px;

}

.empty-cart-img > img
{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.empty-cart-description
{
    float: left;
    text-align: left;
}

.empty-cart-description > h4
{
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.empty-cart-description > p
{
    margin: 0;
    font-size: 16px;
}

.empty-cart-description > p > a:hover
{
    text-decoration: underline;
}

#filled-cart
{
    width: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* display: none; */
}

.cart-items
{
    float: left;
    width: 680px;
    min-height: 265px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
    background-color: #fff;
}

.cart-items-title
{
    text-align: left;
    padding: 20px;
    padding-bottom: 0;
}

.cart-items-title > h4
{
    margin: 0;
}

.cart-items-table
{
    font-size: 15px;
    margin: 20px;
}

table
{
    border-collapse: collapse;
}

td
{
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
}

.column-1
{
    width: 100px;
}

.column-2
{
    width: 262px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
    color: #999;
    font-weight: normal;
}

.column-3, .column-4, .column-5
{
    width: 90px;
    color: #999;
    font-weight: normal;
    padding-bottom: 5px;
}

.cart-product-img > img
{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.cart-product-description
{
    text-align: left;
    padding-left: 10px;
}

.cart-product-club
{
    text-align: left;
    padding-left: 10px;
    color: #999;
    margin-top: 5px;
}

.remove-item
{
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
    text-decoration: underline;
    color: #999;
}

.remove-item:hover > span
{
    cursor: pointer;
}

.unit-price, .unit-price-total, .quantity, .cart-product, .cart-product-img
{
    vertical-align: top;
    padding-top: 15px;
}

.unit-price-total
{
    font-weight: bold;
}

.cart-summary
{
    float: left;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,30,60,.25);
    background-color: #fff;
    padding: 20px;
}

.cart-summary > h4
{
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
}

.summary-row
{
    margin-bottom: 15px;
    font-size: 16px;
}
.summary-text
{
    float: left;
}

.summary-price
{
    float: right;
}

.checkout-button
{
    color: #fff;
    /* background-color: #ee2222; */
    margin-top: 20px;
    background-color: #db0840;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
}

.checkout-button:hover
{
    /* background-color: #ff3333; */
    background-color: #f30b47;
    cursor: pointer;
}

/* Footer section */

#footer
{
    width: 100%;
    background-color: #001e3c;
    margin-top: 20px;
}

#topfooter
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.footer-info
{
    float: left;
    color: #f1f1f1;
    font-size: 16px;
    margin: 20px;
}

.footer-info > ul
{
    padding-left: 0;
}

.footer-info > ul > li
{
    list-style-type: none;
    line-height: 200%;
}

.footer-info > ul > li > a
{
    color: #f1f1f1;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.footer-info > ul > li > a:hover
{
    color: #999;
}

.socials
{
    float: left;
    margin-left: 90px;
    margin-top: 130px;
}

.socials > ul > li
{
    list-style-type: none;
    float: left;
    padding: 8px;
}

.social-img
{
    width: 40px;
    height: 40px;
    opacity: 75%;
    transition: opacity .25s ease-in-out;
}

.social-img:hover
{
    opacity: 100%;
    
}

#footer-copyright
{
background-color: #001e3c; 
color: #f1f1f1;
font-size: 14px;
text-align: center;
border-top: 1px solid #f1f1f1;
padding: 15px;
}