body
{
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#topheader
{
    width: 100%;
    background-color: #0030cb;  
}

#topcontainer
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#topnav
{
    width: 100%;
    background-color: #001e3c;
    text-align: center;
    height: 50px;
}

.menu
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 0;
    color: #fff;
}

.menu > li
{
    display: inline-block;
    margin: 15px;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

