body
{
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

/* Header bar section */

#topheader
{
    width: 100%;
    background-color: #0030cb;  
}

#topcontainer
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 84px;
}

#logo
{
    float: left;
}

#search
{
    float: left;
    margin-top: 22px;
    margin-left: 25px;
}

#form-group
{
    display: inline-block;
}

.button
{
    position: relative;
    float: right;
    margin-left: -40px;
    background: 0;
    border: 0;
    padding: 4px 3px 2px 1px; 
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

#search-button
{
    height: 25px;
    width: 25px;
}

#form-search
{
    background-color: #f1f1f1;
    padding-left: 10px;
    padding-right: 40px;
    height: 40px;
    width: 210px;
    font-size: 16px;
    color: #001e3c;
    border: 2px solid #001e3c;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

#access
{
    float: right;
    color: #f1f1f1;
    height: 84px;
}

#access-list
{
    margin: 0;
}

#access-list > li
{
    float: left;
    list-style-type: none;
    margin: 15px;
    margin-top: 30px;
}

#access-list > li:last-child
{
    margin-top: 20px;
}

#cart-icon
{
    height: 40px;
    width: 40px;
}

#cart
{
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

#cart > li:first-child
{
    color: #ff8000;
}

/* Navigation section */

#topnav
{
    width: 100%;
    background-color: #001e3c;
    text-align: center;
    height: 50px;
}

.menu
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-left: 0;
    color: #fff;
}

.menu > li
{
    display: inline-block;
    margin: 15px;
}

/* Main section */

.container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.club-banner
{
    width: 998px;
    height: 300px;
    margin: 30px;
    border: 1px solid #999;
    border-radius: 10px;
    overflow: hidden;
}

a.club-link
{
    color:#001e3c;
}

.club-label
{
    float: left;
    height: 300px;
    width: 240px;
}

.club-photo
{
    float: left;
    height: 300px;
    width: 758px;
    overflow: hidden;
}

.club-photo img
{
    width: 758px;
    transition: all 0.5s ease-in-out;
}

.club-photo:hover img
{
    transform: scale(105%);
}

.club-logo
{
    height: 240px;
    background-color: #001e3c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.club-logo > img
{
    height: 170px;
}

.club-name
{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-name > p
{
    font-size: 24px;
    margin: 0;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* Footer section */

#footer
{
    width: 100%;
    background-color: #001e3c; 
}

#topfooter
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.footer-info
{
    float: left;
    color: #f1f1f1;
    font-size: 16px;
    margin: 20px;
}

.footer-info > ul
{
    padding-left: 0;
}

.footer-info > ul > li
{
    list-style-type: none;
    line-height: 200%;
}

.footer-info > ul > li > a
{
    color: #f1f1f1;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.footer-info > ul > li > a:hover
{
    color: #999;
}

.socials
{
    float: left;
    margin-left: 90px;
    margin-top: 130px;
}

.socials > ul > li
{
    list-style-type: none;
    float: left;
    padding: 8px;
}

.social-img
{
    width: 40px;
    height: 40px;
    opacity: 75%;
    transition: opacity .25s ease-in-out;
}

.social-img:hover
{
    opacity: 100%;
    
}

#footer-copyright
{
background-color: #001e3c; 
color: #f1f1f1;
font-size: 14px;
text-align: center;
border-top: 1px solid #f1f1f1;
padding: 15px;
}